body {
    font-family: "Oswald";
}

header {
    background-color: #004175;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    border-bottom: solid;
    border-bottom-width: 0.5rem;
    border-bottom-color: #89DEEF;
}

.page-title {
    color: white;
    font-family: "Oswald";
}

.dogs-available {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dog-details {
    width: 30%;
    margin-top: 1rem;
}

.dog-pic {
    width: 90%;
}

.dog-traits-list {
    margin-left: -2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dog-trait {
    background-color: #89DEEF;
    border-radius: 0.5rem;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer {
    margin-top: 2rem;
    height: 296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-contents {
    background-color: #A6A9F0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-pic {
    width: 100%;
    height: 296px;
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.5;
}

.footer-pic-text {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-sec {
    position: relative;
    text-align: center;
    color: white;
    display: inline;
    width: 33.3%;
    height: 18rem;
    background-color: #A6A9F0;
    background-position: center;
    background-size: 33.3% 33.3%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

