header {
    background-color: #004175;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    border-bottom: solid;
    border-bottom-width: 0.5rem;
    border-bottom-color: #89DEEF;
}

.page-title {
    color: white;
    font-family: "Oswald";
}

.dogs-available {
    border: 4px solid purple;
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
/*   flex-direction: column; */
}

.dog-details {
    width: 30%;
}

.dog-pic {
    width: 90%;
}

.dog-traits-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dog-trait {
    background-color: #89DEEF;
    display: flex;
    margin: 2px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
